{% extends 'django-blogs/base.html' %}

{% block dropdown_options %}
{% if post.author == user.username %}
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{% url 'blogs:edit' post.uuid %}">Edit</a>
    <a class="dropdown-item text-danger" href="{% url 'blogs:delete' post.uuid %}" style="opacity: 0.7">Delete</a>
{% endif %}
{% endblock %}

{% block content %}

<div class="mt-5">
    <div class="row" style="max-width: 700px !important;margin: auto">
        <h1>{{ post.heading | safe }}</h1>
    </div>
    <div class="row mb-5" style="max-width: 700px !important;margin: auto">
        <div class="col-6 col-md-3 px-0">
            <i class="far fa-calendar-alt"></i> {{ post.published_on | date:"DATE_FORMAT" }}
        </div>
        <div class="col-6 col-md-3 px-0">
            <i class="fa fa-user"></i></i> {{post.author}}
        </div>
    </div>
    <div class="content">{{ post.content | safe }}</div>
</div>
{% endblock %}